# Ignore virtual environment
venv/
ENV/
env/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore SQLite DB (optional if you don't want to track DB)
*.sqlite3
database.db

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VSCode settings (optional)
.vscode/
